@use './partials/base';

:root {
  --blue-bg: steelblue;
}



body {
  background-color: var(--blue-bg);
  color: base.$lightText;
  margin: 0;
}

header {

  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, black, white);

  h1 {
    font-size: 68px;
    text-align: center;
  }
}


